<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chris.mybatisplus.dao.mapper.UserCryptoMapper">

    <resultMap id="BaseResultMapper" type="com.chris.mybatisplus.entities.UserCrypto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="bir" property="bir"/>
        <result column="phone" property="phone" typeHandler="com.chris.mybatisplus.handler.EncryptTypeHandler"/>
    </resultMap>

    <insert id="addUser">
        insert into t_user(name, age, bir, phone, address)
        values (#{name}, #{age}, #{bir}, #{phone}, #{address})
    </insert>

    <select id="findUsersByPhone" resultMap="BaseResultMapper">
        select *
        from t_user
        where phone = #{phone}
    </select>

</mapper>